[project]
name = "webapp"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "flask>=3.1.2",
    "flask-htmx>=0.4.0",
    "requests>=2.32.5",
]
