<div class="status-bar">
    <span>
        <span id="liveIndicator" class="status-indicator"></span>
        <span id="statusText">Initializing...</span>
    </span>
    <div><span id="connected_clients">-</span>
        <span id="icon-eye-closed">{% include 'svg/eye-closed.svg' %}</span>
        <span id="icon-eye" style="display: none">{% include 'svg/eye.svg' %}</span>
    </div>
</div>

<div class="video-wrapper">
    <video id="stream" autoplay muted playsinline></video>
    <div class="offline-overlay" id="offlineOverlay" style="display: none">
        <div>
            <h2>Power off</h2>
            <p>Please check back later,<br/>or watch the demonstration below</p>
        </div>
    </div>
    <button onclick="toggleFullscreen()">
        <span class="maximize-video">{% include "svg/maximize.svg" %}</span>
        <span class="minimize-video" style="display: none">{% include "svg/minimize.svg" %}</span>
    </button>
</div>

<script src="{{ url_for('static', filename='js/stream-controls.js') }}"></script>
<script>startStream('{{ stream_url }}');</script>