<div id="editor-container">
    <textarea id="userscript-code">
const notes = ["C4", "D4", "E4", "F4", "G4", "A4", "B4", "C5"];

for (let i = 0; i < notes.length; i++) {
  await playNote(notes[i], 200);
}

await wait(2000);

while (true) {
  changeFrequency(0);
  await wait(30000);
  changeFrequency(2000);
  await wait(1000);
}

// Pssst: You can use playToneJS() and pass an object from https://tonejs.github.io/Midi/
    </textarea>
    <button class="btn-secondary" id="run-userscript-btn" onclick="runUserScript()">{% include "svg/play.svg" %}</button>
    <button style="display: none" class="btn-danger" id="stop-userscript-btn" onclick="stopUserScript()">{% include "svg/square.svg" %}</button>
</div>

<script src="{{ url_for('static', filename='js/userscript.js') }}"></script>