{% extends 'voucher/base.html' %}

{% block content %}
    <div class="container" style="max-width: 400px">
        <h2>Enable Capability</h2>
        <p>The page you want to visit requires the capability “<em>{{ capability }}</em>”.
        Please enable it below.</p>
        <form method="POST" action="{{ url_for('enable_capability', capability=capability, next=next) }}">
            {{ form.hidden_tag() }}
            {% if form.token.errors %}
                <ul class="errors">
                    {% for error in form.token.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-group">
                {{ form.token.label }}
                {{ form.token(size=32, class_="form-control") }}
            </div>
            <input type="submit" value="Enable" class="btn btn-primary">
        </form>
    </div>
{% endblock %}