<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Kaleido Cam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">

{#    <link rel="stylesheet" href="{{ url_for('static', filename='39c3/39c3.css') }}">#}
    {% block head %}{% endblock %}
</head>
<body>

<header>
    <a href="{{ url_for("index") }}"><h1>kaleido.cam</h1></a>
</header>

<div id="toast-container">
    {#    <div class="toast toast-error">#}
    {#        DER TOAST#}
    {#        <button class="closebtn" onclick="this.parentElement.style.display='none';">&times;</button>#}
    {#    </div>#}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="toast toast-{{ category }}">
                    {{ message }}
                    <button class="closebtn" onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% block content %}{% endblock %}
<footer>
    {% block footer %}
        <ul>
            <li><a href="{{ url_for("controls") }}">Controls only</a></li>
            <li><a href="{{ url_for("stream") }}">Stream only</a></li>
        </ul>
    {% endblock %}
</footer>

<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>