{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/yt-embed.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'includes/stream.html' %}
        {% include 'includes/controls.html' %}
    </div>

    <div class="container">
        <h2>About</h2>
        <div class="about-section">
            <div>
                <p>
                    The Kaleido Cam is a device that lets people see and interact with a kaleidoscope.
                    The idea was sparked when I discovered a beautiful kaleidoscope in Fujikawaguchiko.
                    This project allows multiple people to enjoy it simultaneously over the internet.
                </p>
                <h3>The project</h3>
                <p>
                    It boils down to simple components:
                </p>
                <ul>
                    <li>A Raspberry Pi with the Camera Module</li>
                    <li>A stepper motor</li>
                    <li>A dimmable LED</li>
                    <li>A couple 3d printed parts</li>
                </ul>
                <p>Software, schematics and CAD files are <a href="https://github.com/kaleido-cam" target="_blank">available
                    on {% include "svg/github.svg" %} GitHub</a>.</p>
                </ul>
                </p>
                <h3>The artist</h3>
                <p>
                    The kaleidoscope was created by <strong>Chaihana Glass</strong>.
                    The artist is not affiliated with this project.
                    I appreciate their work very much, and you can find more of their art here:
                </p>
                <ul>
                    <li><a href="https://www.instagram.com/chaihana_glass" target="_blank">chaihana_glass
                        on {% include "svg/instagram.svg" %} Instagram</a></li>
                    <li><a href="https://www.youtube.com/@glasschaihana6656" target="_blank">glasschaihana6656
                        on {% include "svg/youtube.svg" %} YouTube</a></li>
                </ul>
            </div>
            <div class="centered">
                <video class="small-video" src="{{ url_for('static', filename='video/motor-rotating.mp4') }}" loop
                       autoplay muted playsinline></video>
                <div class="yt-placeholder tsmall-video" style="height: 290px"
                     onclick="embedYoutubeVideo(this, 'Fcc4OLGrj_k')">
                    {% include "svg/youtube.svg" %} <br/>
                    Enable YouTube content
                </div>
            </div>
        </div>
    </div>
{% endblock %}