{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/stream-controls.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="status-bar">
        <span>
            <span id="liveIndicator" class="status-indicator"></span>
            <span id="statusText">Initializing...</span>
        </span>
            <span id="debugInfo"></span>
        </div>

        <div class="video-wrapper">
            <video id="video" autoplay muted playsinline></video>
            <button onclick="toggleFullscreen()">
                <span class="maximize-video">{% include "svg/maximize.svg" %}</span>
                <span class="minimize-video" style="display: none">{% include "svg/minimize.svg" %}</span>
            </button>
        </div>

        <div class="controls">
            <div class="slider-group">
                <div id="frequency_label">{{ current_frequency }} Hz</div>
                <input oninput="changeFrequency(this.value)" type="range" id="frequency_slider" name="speed" min="-500"
                       max="500" step="10" value="{{ current_frequency }}">
                <label for="frequency_slider">Frequency</label>
                <div class="button-group">
                    <button onclick="rotateCounterClockwise()"
                            class="btn-primary">{% include "svg/rotate-ccw.svg" %}</button>
                    <button onclick="changeFrequency(0)" class="btn-primary">{% include "svg/octagon.svg" %}</button>
                    <button onclick="rotateClockwise()" class="btn-primary">{% include "svg/rotate-cw.svg" %}</button>
                </div>
            </div>

            <div class="slider-group">
                <div id="brightness_label">{{ current_brightness }} %</div>
                <input oninput="changeBrightness(this.value)" type="range" id="brightness_slider" name="brightness"
                       min="0" max="50" value="{{ current_brightness }}">
                <label for="brightness_slider">Brightness</label>
            </div>
        </div>
    </div>
{% endblock %}