@font-face {
    font-family: 'KarioDuplexVar';
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/Kario39C3Var-Roman.ttf') format('truetype');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/Kario39C3VarWEB-Roman.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/Kario39C3VarWEB-Roman.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-Regular.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    font-weight: bold;
    font-style: italic;
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-BoldItalic.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    font-weight: bold;
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-Bold.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    font-style: italic;
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-RegularItalic.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansCondWeb-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-Regular.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    font-weight: bold;
    font-style: italic;
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-BoldItalic.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    font-weight: bold;
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-Bold.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    font-style: italic;
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-RegularItalic.woff') format('woff');
    src: URL('https://events.ccc.de/congress/2025/infos/styleguide/latest/fonts/OfficerSansWeb-RegularItalic.woff2') format('woff2');
}

:root {
    --color-dark: #141414;
    --color-neutral: #faf5f5;
    --color-primary: #00ff00;
    --color-secondary: #9673ff;
    --color-additional-01: #ff3719;
    --color-additional-02: #66f2ff;

    --color-primary-tint-01: #009900;
    --color-primary-tint-02: #00be00;
    --color-primary-tint-03: #00d300;
    --color-primary-tint-04: #00ea00;
    --color-primary-tint-05: #a3ff90;
    --color-primary-tint-06: #ccffbe;
    --color-primary-tint-07: #ebffe5;

    --color-secondary-tint-01: #4d2eed;
    --color-secondary-tint-02: #5c33f4;
    --color-secondary-tint-03: #7952fe;
    --color-secondary-tint-04: #b69dfe;
    --color-secondary-tint-05: #d4c4fe;
    --color-secondary-tint-06: #efe7ff;

    --bg-color: var(--color-dark);
    --panel-color: var(--color-dark);
    --toast-bg-color: var(--color-secondary);
    --text-color: var(--color-neutral);
    --accent-color: var(--color-primary);
    --danger-color: var(--color-additional-01);
    --success-color: var(--color-primary-tint-05);
    --warning-color: var(--color-secondary);
    --disabled-color: #555555;
    --button-text-color: var(--color-dark);
}

body {
    /* needed because of font weight animation. Otherwise horizontal scroll bars appear */
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'KarioDuplexVar', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: var(--color-primary);
    animation: font_weight_wave 2s ease-in;
}

h2, h3 {
    color: var(--color-dark);
    background-color: var(--color-secondary);
    padding: 0.5rem;
}

p {
    font-family: 'OfficerSans', sans-serif;
}

.container {
    box-shadow: 0 0 6px var(--color-primary-tint-01);
}

@keyframes font_weight_wave {
    from {
        font-weight: 10;
    } to {
        font-weight: 100;
    }
}